<!DOCTYPE html>

<html>
<head>

</head>

<body>



<h1>Hello, Rails!</h1>
<p> Clink on the link "My Blog" to start sharing, editing or deleting articles. </p>

<%= link_to 'My Blog', controller: 'articles' %>



</body>

</html>
